/* General Styles */

html  {
    width: 100%;
    height: 100%;
    display: block;
    
}

body {
    width: 100%;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #86bdd815 ! important;
    letter-spacing: 2px;
    font-weight: lighter;
    display: block;
    
    
    

   
} 

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* ::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge} */
  

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: auto;
    min-width: 100%;
    overflow-x:auto;
}
header h1 {
 color:#518EB1;
}

.content-section { 
    display: none;
}

#home:target, #reviews:target, #about:target {
    display: block;
}

/* Navigation Styles */
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    
    width: 100%;
    height:fit-content;
    min-height: 100%;
}

#resultsInfo { margin-left:25px; color: grey; font-size: smaller; letter-spacing: 5px;}

.container { 
    width: 100%; 
    margin: 0 auto; 
    justify-content: center;
    text-align: justify;
}

/* Parent container styling */
.filter-container {
    display: flex; /* Makes the container a flex container */
    justify-content: flex-end; /* Aligns child elements to the right */
  }
  
  /* Filter section styling */
  .filter-section {
    margin-bottom: 20px; /* Adds space below the filter section */
    letter-spacing: 2px; /* Increases letter spacing */
    display: flex; /* Display as flex for potential internal layout */
    flex-direction: row; /* Default direction, can be omitted */
    flex-grow: 0; /* Prevents the item from growing */
  }

#filterGenre { display: inline-block;
margin: 5px auto;     color:#518EB1 !important;
}

#filterGenre { display: inline-block;
    margin: 5px auto;     color:#518EB1 !important;
    }

#filterGenre:hover { display: inline-block;
    margin: 0 auto;     color:#518EB1 !important;
    }

/* Movie Table */
/* Movie Table */
/* Movie Table */


/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position:relative;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.uploadcsv {
    padding: 20px;
}


.justify {
    text-align: justify !important;
  
}

input {
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    padding:5px;
    display: inline-block;
    -ms-overflow-style: none; /* Hides scrollbars in IE and Edge */
    background-color: rgba(81, 142, 177, 0.11) !important;
    color:rgb(0, 0, 0) !important;
    border: 0.5px solid #518EB1 !important;;


}

::placeholder {
    color:#518EB1 !important;

}

label{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    padding:5px;
    display: flex;


}

/* Ensures all dropdown options are white */
select option {
    color:#518EB1!important;
    background-color: rgba(81, 142, 177, 0.11) !important;
    margin: 5px auto;
  
}



select::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Edge */ }


option {
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    padding:5px;
    display: inline-block;
    color:#518EB1 !important;
    
    


}

.filterslabel {

}

option:hover {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    padding:5px;
    background-color: rgba(81, 142, 177, 0.11) !important;
    color:#518EB1 !important;


}

select{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    padding:5px;
    width: 50%;
    background-color: rgba(81, 142, 177, 0.11) !important;
    overflow: -moz-scrollbars-none; /* For Firefox (older versions) */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    min-width:150px;
    color:#518EB1 !important;
    border:#518EB1 1px solid !important;


}

#resultsInfo:hover {
    /* withouth hover, please. */

}



.movietable, #movieTable, table, thead {
    width: 100% !important;
    margin-top: 20px!important;
    border: none !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    
}



.border-left {
    border-radius: 10px 0 0 0 !important;
    border: 1px solid #eee;

}

.border-right {
    border-radius: 0  10px  0 0 !important;
    border: 1px solid #eee !important;

}

th, td {
    padding: 20px !important;
    text-align: left!important;
    border-bottom: 1px solid #ddd !important;
    margin: fit-content !important;
    border: 1px solid #eee !important;
    font-weight: 400;

    
   
}

th {
    background-color : #333 !important;
    color: white !important;
    position: relative !important; /* Position relative for sorting indicator */
    cursor: pointer !important; /* Change cursor to pointer to indicate clickable */
    min-width: fit-content !important;
    max-width: fit-content;
    
    
}
table, thead, tr {border-radius: 30px !important;}

td { min-width:170px; max-width: 300px;}



/* DARK MODUS */
 /* Dark mode styles */
 body.dark-mode {
    background-color: #1212128e; /* Dark background for dark mode */
    color: #ffffff; /* Light text color for dark mode */
    border-radius: 10px !important;
}

body.dark-mode table {
    border-color: #333; /* Darker border for dark mode */
    border-radius: 10px !important;
}

body.dark-mode select, body.dark-mode input::placeholder {
color: white!important;}

.dark-mode::placeholder {
color: white!important;}
    

body.dark-mode th {
    background-color: #444; /* Darker header background */
    color: #ffffff; /* Light text color for headers in dark mode */
}

body.dark-mode td {
    background-color: #222; /* Darker cell background */
}

body.dark-mode th.asc::after {
    border-color: transparent transparent #ffffff transparent; /* White arrow for dark mode */
} 

body.dark-mode th.desc::after {
    border-color: #ffffff transparent transparent transparent; /* White arrow for dark mode */
}

/* Add transition for smooth mode change */
body, table, th, td {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode .border-left {
    border-radius: 10px 0 0 0 !important;
    border: 1px solid #eeeeee00 !important;
    z-index: 1;

}

.dark-mode .border-right {
    border-radius: 0  10px  0 0 !important;
    border: 1px solid #eeeeee00 !important;
    z-index: 1;

}

[data-bs-theme=dark] .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
    
  }

  [data-bs-theme=dark] table, tr {border-radius: 10px;}

  [data-bs-theme=dark] ::placeholder {
    color:white ! important;
  }

  [data-bs-theme=dark] select option, [data-bs-theme=dark] #filterGenre  {
    color:white ! important;
    background-color: #444 !important;
  }
/*  DARK MODUS ENDE */



 tr {border-radius: 10px !important;}

 /* Movie Table */

.transparent { background-color: transparent; border: none;}


/* Apply border-radius to the entire table */
#movieTable {
    border-radius: 10px !important;
    overflow: hidden; /* Ensure rounded corners are visible */
    border-collapse: separate; /* Prevents border radius issues */
}


/* READ MORE */


/* CSS to handle text overflow */
.movie-overview {
    align-items: justify;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Keep text in a single line */
    max-height: 3.6em; /* Adjust based on your design */
    line-height: 1.2em; /* Adjust to match your font size */
    max-width: 300px;
}

/* CSS to show the full overview */
.movie-overview.full {
    white-space: normal; /* Allow text to wrap */
    max-height: none; /* Remove height constraint */
    align-items: justify;
    text-align: justify;
}

/* Style for the Read More link */
.read-more {
    color: #518EB1;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    text-decoration:none;
    transition: all 3s ease-in-out;
}

.read-more:hover {
    
    transform: scale(1.0);
}


.movie-genre {
    align-items: justify;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Keep text in a single line */
    max-height: 3.6em; /* Adjust based on your design */
    line-height: 1.2em; /* Adjust to match your font size */
    max-width: 120px !important;
    min-width: 60px !important;
}

th, img { margin: 0 5px 0 5px auto;}
.movie-year {
    max-width: 80px !important;
    min-width: 50px !important;
}

.movie-min {
    max-width: 80px !important;
    min-width: 50px !important;
}

.movie-lan {
    max-width: 80px !important;
    min-width: 50px !important;
}

/* CSS to show the full overview */
.movie-genre.full {
    white-space: normal; /* Allow text to wrap */
    max-height: none; /* Remove height constraint */
    align-items: justify;
    max-width: 170px !important;
}

/* Style for the Read More link */
.more-genres {
    color: #518EB1;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    text-decoration:none;
    transition: all 3s ease-in-out;
    max-width: 150px !important;
}

.more-genre:hover {
    
    transform: scale(1.0);
}



/* READ MORE OPTION END */


.gradient {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



