/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
}

#resultsInfo { margin-left:25px; color: grey; font-size: smaller; letter-spacing: 5px;}

.container { 
    width: 70%; 
    margin: 0 auto; 
    justify-content: center;
    text-align: justify;
}

.filter-section {
    margin-bottom: 20px;
}

/* Movie Table */
/* Movie Table */
/* Movie Table */
#movieTable table, thead {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    
    z-index: 1;
}

.border-left {
    border-radius: 30px 0 0 0 !important;
    border: 1px solid #eee;

}

.border-right {
    border-radius: 0  30px  0 0 !important;
    border: 1px solid #eee;

}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin: fit-content;
   
}

th {
    background-color: #333;
    color: white;
    position: relative; /* Position relative for sorting indicator */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
    min-width: fit-content;
    
}
table, thead {border-radius: 30px !important;}

/* Style for sorting indicators */
th::after {
    content: ''; /* Empty content for sorting indicator */
    position: absolute; /* Absolute positioning */
    right: 10px; /* Position indicator to the right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    border: 5px solid transparent; /* Transparent border for arrows */
}

/* Arrow for ascending sort */
th.asc::after {
    border-width: 0 5px 5px 5px; /* Create a downward arrow */
    border-style: solid; /* Make it solid */
    border-color: transparent transparent white transparent; /* Set arrow color */
}

/* Arrow for descending sort */
th.desc::after {
    border-width: 5px 5px 0 5px; /* Create an upward arrow */
    border-style: solid; /* Make it solid */
    border-color: white transparent transparent transparent; /* Set arrow color */
}

/* Ensures table header and rows are consistent with existing style */
th, td {
    border: 1px solid #ddd;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.uploadcsv {
    padding: 20px;
}


.justify {
    text-align: justify !important;
  
}
