/* General Styles */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    letter-spacing: 2px;
    font-weight: lighter;

    overflow: -moz-scrollbars-none; /* For Firefox (older versions) */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header h1 {
 color:#518EB1;
}

/* Navigation Styles */
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
}

#resultsInfo { margin-left:25px; color: grey; font-size: smaller; letter-spacing: 5px;}

.container { 
    width: 70%; 
    margin: 0 auto; 
    justify-content: center;
    text-align: justify;
}

.filter-section {
    margin-bottom: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
}

#filterGenre { display: inline-block;
margin: 0 auto;}

/* Movie Table */
/* Movie Table */
/* Movie Table */


/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.uploadcsv {
    padding: 20px;
}


.justify {
    text-align: justify !important;
  
}

input {
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px auto;
    padding:5px;
    display: inline-block;
    -ms-overflow-style: none; /* Hides scrollbars in IE and Edge */
    background-color: rgb(81, 142, 177) !important;
    color:white;


}

::placeholder {
    color: white;
}

label{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px auto;
    padding:5px;
    display: flex;


}

option {
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px auto;
    padding:5px;
    display: inline-block;
    color:white;


}

option:hover {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px auto;
    padding:5px;
    background-color: rgb(81, 142, 177) !important;


}

/* label:hover {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px auto;
    padding:5px;
    background-color: rgb(81, 142, 177) !important; }*/




select{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px auto;
    padding:5px;
    width: 50%;
    background-color: rgb(81, 142, 177) !important;


}

#resultsInfo:hover {
    /* background-color: rgb(81, 142, 177) !important; */

}


.movietable, #movieTable, table, thead {
    width: 100% !important;
    margin-top: 20px!important;
    border: none !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

.border-left {
    border-radius: 30px 0 0 0 !important;
    border: 1px solid #eee;

}

.border-right {
    border-radius: 0  30px  0 0 !important;
    border: 1px solid #eee !important;

}

th, td {
    padding: 20px !important;
    text-align: left!important;
    border-bottom: 1px solid #ddd !important;
    margin: fit-content !important;
    border: 1px solid #eee !important;

    
   
}

th {
    background-color : #333 !important;
    color: white !important;
    position: relative !important; /* Position relative for sorting indicator */
    cursor: pointer !important; /* Change cursor to pointer to indicate clickable */
    min-width: fit-content !important;
    
    
}
table, thead, tr {border-radius: 30px !important;}



/* DARK MODUS */
 /* Dark mode styles */
 body.dark-mode {
    background-color: #1212128e; /* Dark background for dark mode */
    color: #ffffff; /* Light text color for dark mode */
    border-radius: 30px !important;
}

body.dark-mode table {
    border-color: #333; /* Darker border for dark mode */
    border-radius: 30px !important;
}

body.dark-mode th {
    background-color: #444; /* Darker header background */
    color: #ffffff; /* Light text color for headers in dark mode */
    border-radius: 30px !important;
}

body.dark-mode td {
    background-color: #222; /* Darker cell background */
}

body.dark-mode th.asc::after {
    border-color: transparent transparent #ffffff transparent; /* White arrow for dark mode */
    border-radius: 30px !important;
}

body.dark-mode th.desc::after {
    border-color: #ffffff transparent transparent transparent; /* White arrow for dark mode */
}

/* Add transition for smooth mode change */
body, table, th, td {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode .border-left {
    border-radius: 30px 0 0 0 !important;
    border: 1px solid #eeeeee00 !important;
    z-index: 1;

}

.dark-mode .border-right {
    border-radius: 0  30px  0 0 !important;
    border: 1px solid #eeeeee00 !important;
    z-index: 1;

}

[data-bs-theme=dark] .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
    
  }

  [data-bs-theme=dark] table, tr {border-radius: 30px;}
/*  DARK MODUS ENDE */

.darkmodus { 
 }

 tr {border-radius: 30px !important;}

 /* Movie Table */

.transparent { background-color: transparent; border: none;}



/* Apply border-radius to the first and last cells of each row */
tbody tr:first-child td:first-child {
    border-top-left-radius: 30px;
}
tbody tr:first-child td:last-child {
    border-top-right-radius: 30px;
}


