body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
}

.movie-card img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-card h3 {
    margin-top: 10px;
    font-size: 18px;
}

.movie-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


.filter-section {
    margin-bottom: 20px;
}
